<main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Events App</h1>
    <p class="lead">Welcome Sign Up now!</p>
    <p class="lead">
      <a href="<%= login_path %>" class="btn btn-lg btn-secondary">Log In</a>
    </p>
</main>