
<div class="">
    <span class="">Name:</span>
    <span class=""><%= @user.name %></span>
</div>
<div class="">
    <span class="">Email:</span>
    <span class=""><%= @user.email %></span>
</div>
<div class="">
    <span class="">Created at:</span>
    <span class=""><%= @user.created_at %></span>
</div>
<% if @user.events %>
   <%= render 'events/event', events: @user.events %>
<% end %>